/* GLOBAL STYLES AND SIMPLE RESET */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

/* List element styles */
li {
    list-style: none;
}

/* controls the svg's */
img {
    width: 20px;
    height: 20px;
}

/* Whole page layout */
body {
    margin: auto;
    max-width: 1015px;
    padding-left: 15px;
    padding-right: 15px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/* Navigation bar on top */
nav {
    z-index:10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 5px solid silver;
    position: sticky;
    top: 0;
    background-color: white;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Unordered list item in top nav bar */
nav > ul {
    display: flex;
    gap: 30px;
}

/* Make the icons and text in top nav bar alligned and pretty*/
nav > ul > li > a {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Holds your information beneath the nav bar */
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Section title */
section > h2 {
    height: 26px;
    border-bottom: 3px solid silver;
    padding: 5px 0px 5px 5px;
}

/* Holds the content of the sections */
.section-content {
    text-align: justify;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-content > ul  {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width:99.1%;
}

.hidden-dropdown {
    display: none;
}

.show {
    display: block;
}

.notable-work-points {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.notable-work-points > li{
    list-style:disc;
    margin-left: 70px;
}

.publications-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.publications-items > li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }

    /* Unordered list item in top nav bar */
    nav > ul {
        align-items: center;
        justify-content: center;
        text-align:center;
        max-width:100%;
        display: flex;
        gap:0px;
        flex-wrap: wrap;
        align-content: space-between;
    }

    nav > ul > li  {
        width: 45%;
    }

    .section-content > ul  {
        font-size:15px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        width:97.2%;
    }

    label {
        font-size:15px;
        font-weight:bold;
        display: inline-block;
        text-align: left;
        cursor: pointer;
        border-radius: 7px;
        padding-right:5px;
        padding-left:2px;
    }
    #expand {
        font-size:10px;
        width: 0px;
        overflow: hidden;
        background-color:lightgray;

        max-height: 0px;
        padding-left:5px;
        padding-right:5px;
        color:black;
        border-radius: 7px;
    }
}

/* collapse content */

#expand {
    width: 0px;
    overflow: hidden;
    background-color:lightgray;

    max-height: 0px;
    padding-left:5px;
    padding-right:5px;
    border-radius: 7px;
    #transition: max-height 0.5s, width 0.5s ease-in-out;
}

input {
    display: none;
    visibility: hidden;
}

input:checked+label+#expand {
    max-height: 100%;
    width: 100%;
    background-color:lightgray;
    color:black;
    border-radius: 7px;
}

[id^="toggle"]:checked + label::before {
    transform: rotate(90deg) translateX(-3px);
}

label {
    font-weight:bold;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    border-radius: 7px;
    padding-left:2px;
}

label:hover {
    color: black;
}

label::before {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
}
