*{
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}

#name{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    margin-top:-10px;
    border-radius: 0.25rem;
}

#prof{
    font-size: 15px;
    font-weight: bold;
}
#addr{
    font-size: 15px;
    font-weight: bold;
}
#links{
    width: 1015px;
    margin: auto;
    text-align: right;
    border-bottom: 3px solid lightgray;
    margin-bottom:15px;
}

.links{
    margin-right: 15px;
    text-align: right;
}

#about{
    width: 1015px;
    margin: 15px auto;
    text-align: justify;
}

#about-me-tag{
    background-color:lightgray;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.25rem;
    padding: 6px;
}

#about-me-text{
    font-size: 15px;
    color: black;
}

#projects{
    width: 1015px;
    margin: 30px auto;
}

#projects-tab{
    background-color: lightgray;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2%;
    border-radius: 0.25rem;
    padding: 6px;
}

#list-container{
    font-size: 15px;
    text-align: justify;
}

li{
    list-style-position: inside;
}

li h6{
    font-size:15px;
    font-weight:normal;
}

#gene{
    width: 1015px;
    margin: 15px auto;
}

#gene-tag{
    padding: 6px;
    background-color:lightgray;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2%;
    border-radius: 0.25rem;
}

#gene-text{
    font-size: 15px;
    color: black;
}

.post-container {
    margin: 10px 15px 0 0;  
    border: 5px solid #333;
    overflow: auto
}

.post-thumb img {
    width:95px;
    height:auto;
    display: block;
    float: right;
}

.post-title {
    font-weight: bold;
    font-size: 200%
}

.container {
    vertical-align: top;
    margin-right: auto;
    margin-left: auto;
    margin-top:-10px;
    height: 110px;
    width: 1015px;
}

h5 {
    font-weight: normal;
    font-size:15px;
}

input[type="checkbox"] {
  display: none;
}

.wrap-collabsible {
  padding: 1px;
}

.lbl-toggle {
  display: block;
  text-align: left;
  cursor: pointer;
  #background: lightgray;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: black;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  border-radius: 0.25rem;
  background: #f2f2f2;
  padding: 0.5rem 1rem;
}

.collapsible-content p {
  margin-bottom: 0;

